{{#if addQuestionFormIsOpen}}
  <button {{action 'closeAddQuestionForm'}}>Cancel New Question</button>
  <p>Display new question form - to be replaced with form code soon.</p>
{{else}}
  <button {{action 'openAddQuestionForm'}}>Ask a New Question</button>
{{/if}}
